.detail
  %h2.detail__title
    = @citadels.name
    %hr.detail__title__separator
  .detail__article
    .detail__article__wrap
      .detail__article__wrap__left
        .detail__article__wrap__left__thumb
          = image_tag @citadels.image
        .detail__article__wrap__left__access
          %h2.detail__article__wrap__left__access__route
            地図・アクセス
            %hr.detail__article__wrap__left__access__route__separator
          %h2.detail__article__wrap__left__access__address
            = @citadels.address
          .detail__article__wrap__left__access__data
            .detail__article__wrap__left__access__data__gmap
              %iframe{src:@citadels.map,class: "detail__article__wrap__left__access__data__gmap__iflame"}
      .detail__article__wrap__right
        .detail__article__wrap__right__contents
          .detail__article__wrap__right__contents__time
            %h2.detail__article__wrap__right__contents__time__word
              = @citadels.time
              %hr.detail__article__wrap__right__contents__time__word__separator
          .detail__article__wrap__right__contents__high
            %h2.detail__article__wrap__right__contents__high__word
              見どころ
              %hr.detail__article__wrap__right__contents__high__word__separator
            .detail__article__wrap__right__contents__high__descrip
              %h2.detail__article__wrap__right__contents__high__descrip__word
                = @citadels.text
          .detail__article__wrap__right__contents__detail
            %h2.detail__article__wrap__right__contents__detail__word
              詳細
              %hr.detail__article__wrap__right__contents__detail__word__separator
            .detail__article__wrap__right__contents__detail__descrip
              .detail__article__wrap__right__contents__detail__descrip__word
                = @citadels.detail




