%header
  .banner
    = render "castles/header"
    .banner__menu
      %ul.banner__menu__container
        %li
          = link_to "TOP", "/"
        %li
          = link_to "Q&A",""
        %li
          = link_to "西日本の城", ""
        %li
          = link_to "東日本の城", ""
        %li
          = link_to "城ランキング", ""
        %li
          = link_to "城スタイル投稿", "/castles/new"

    

%div.home
  %ul.home__wide
    %li.home__wide__large
      = link_to image_tag(@castle.find(1).image),"", class: "home__wide__large_article"
      .home__wide__large__text
        .home__wide__large__text__title
          = Castle.find(1).content
    %li.home__wide__large
      = link_to image_tag(@castle.find(2).image), "", class: "home__wide__large_article"
      .home__wide__large__text
        .home__wide__large__text__title
          = Castle.find(2).content
    %li.home__wide__large
      = link_to image_tag(@castle.find(3).image), "", class: "home__wide__large_article"
      .home__wide__large__text
        .home__wide__large__text__title
          = Castle.find(3).content

  .home__article
    %h2.home__article__head
      お城
      = link_to "もっと見る›", "/castles/show" ,class: "home__article__head__readmore"
      %hr.home__article__head__separator
    %ul.home__article__primary
      - @castle.each do |castle|
        %li.home__article__primary__wide
          =link_to "", "", class: "home__article__primary__wide__list"
          .home__article__primary__wide__nail
            = image_tag castle.image,class: "home__article__primary__wide__nail_image"
          .home__article__primary__wide__media
            .home__article__primary__wide__media__title
              = castle.content

